@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{font-family:'work sans'}

body{
  margin:0px;
}

header{
  
  
}

/* Nav section style */

.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  width:100%;
  height: 130px;
}

.nav-logo{
  padding: 0px 240px;
  display:flex;
  align-items: center;
  gap: 10px;
 
}
.n-logo{

  margin-top: 0px;
}

.n-text{
  font-size:2.2em;
  text-align: center;
  margin-top: 0px;
}

.g{
  color: #FF42A5;
  
}


.nav-items{
padding: 0px 240px;
display: flex;
align-items: center;
gap: 20px;

}

.about a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.developers a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.follow-youtube-twitter a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.follow-youtube-twitter{
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(11, 2, 35, 0.10);
  border-radius: 8px;
  padding: 10px;
  height: 20px;
}

.follow-youtube-twitter img{
  width: 24px;
  height: 24px;
}


/* main 1 left contents style (line no. 91) */


.menu1-both-side-contents{
  display: flex;
  gap: 50px;
}

.main1-left-content{
  padding: 0px 240px;
  position: relative;
  bottom: 620px;
  margin-bottom: -500px;
}

.play-like h2{
  font-size: 3.3em;
  font-weight: 600;
  margin-bottom: -50px;
}

.goat{
  margin-top: 0;
}
.goat h1{
  
font-size: 5.9em;
background-image:linear-gradient(to bottom, #F948B2, #8758F1);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.play{
  margin-top: -80px;
  width: 100%;
  display:flex;
  align-items: center;
  gap: 5px;
}

.play img{
  width: 20px;
  height: 20px;
}

.play h6{
  font-size: 1.2em;
}

.download{
  margin-top: -60px;
  width: 100%;
  display:flex;
  align-items: center;
  gap: 5px;
}

.download img{
  width: 20px;
  height: 20px;
}

.download h6{
  font-size: 1.2em;
}

.online{
  margin-top: -60px;
  width: 100%;
  display:flex;
  align-items: center;
  gap: 5px;
}

.online img{
  width: 20px;
  height: 20px;
}

.online h6{
  font-size: 1.2em;
}


/* button style added from here */

.buttons{
display: flex;
gap: 20px;
}

.btn1 button{
  padding: 11px 30px;
  background-color: #F948B2;
  border-radius: 48px;
  font-size: 1.2em;
  border: none;
  color: aliceblue;
  font-weight: 500;
}

.btn2 button{
  padding: 11px 30px;
  background-color: #4EC5F7;
  border-radius: 48px;
  font-size: 1.2em;
  border: none;
  color: aliceblue;
  font-weight: 500;
}

/* main 1 right contents style (line no. 91) */

.menu1-right-contents{
  padding: 0 0 240px;
}



.menu2-all-contents{
  padding: 0 240px;
  display: flex;
  align-items: center;
  gap: 50px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  margin-top: -230px;
}

.menu-2-content{
  text-align: end;
}

.menu-2-content h1{
background-image:linear-gradient(to bottom, #F948B2, #8758F1);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 2.8em;
margin-bottom: 0;
}

.menu-2-content button{
  padding: 11px 30px;
  background-color: #F948B2;
  border-radius: 48px;
  font-size: 1.2em;
  border: none;
  color: aliceblue;
  font-weight: 500;
  margin: 10px 0;
}

.menu-2-content h3{
  font-size: 1.5em;
  margin-top: 0;
  color: #534C64;
}

.menu-2-content h5{
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #534C64;
}

.menu-2-img img{
  width: 100%;
}

.online-games-funny-videos h1{
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 0;
  margin-top: 90px;
}

.online-games-funny-videos span{
  background-image:linear-gradient(to bottom, #F948B2, #8758F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.online-games-funny-videos p{
  text-align: center;
}

.menu-3-img{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

/* menu 4 style started from here */

.menu-4-all-contents{
  padding: 0 225px;
  display: flex;
  justify-content:right;
  align-items:center;
  gap: 150px;
  margin-top: 70px;
}

.menu4-contents{
 margin-bottom: 300px;
}

.menu4-contents h1{
  font-size: 2.8em;
}

.menu4-contents span{
  color: #F948B2;
}

.menu4-images .img1enu{
  width: 100%;
}

.relative-image{
  position: relative;
  bottom: 300px;
  right: 100px;
}

/* menu 5 style added from here */

.menu-5-all-contents{
  padding-left: 240px;
  display: flex;
  gap:170px;
  align-items: center;
  justify-content: left;
  margin-top: -180px;
  margin-bottom: 0;
  /* height: 850px; */
}

.menu5-images .img1{
  width: 100%;
  
}

.relative-image2 img{
  position: relative;
   bottom: 300px;
   left: 450px;
   margin-bottom: 0;
   width: 50%;
}


.menu5-contents{
  margin-bottom: 350px;
 }
 
 .menu5-contents h1{
   font-size: 2.8em;
 }
 
 .menu5-contents span{
   color: #F948B2;
 }


/* menu 6 section strated from here */



 .menu-6-all-contents{
  margin-top: -150px;
  padding: 0 240px;
  display: flex;
  align-items: center;
  gap: 0px;
  background: linear-gradient(90deg, #FF42A5 0%, #ff95cc 100%);

 }


 .menu6-left-side h1{
  font-size: 2.8em;
  color: aliceblue;
}
 .menu6-left-side p{
  /* font-size: 2.8em; */
  color: aliceblue;
}


.menu6-left-side button{
  padding: 10px 22px;
  background-color: #ffffff;
  border-radius: 48px;
  font-size: 1.2em;
  border: none;
  color:#F948B2;
  font-weight: 500;
  margin-top: 10px;
}


.menu6-right-side img{
  position: relative;
  left: 240px;
}


.m6-content-flex{
  display: flex;
  align-items: center;
}



.l1 li{
  text-decoration: none;
  list-style: none;
  margin-left: -40px;
  color: aliceblue;
  text
}
.l2 li{
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}

/* Menu 7 style started from here.................... */

.menu-7-links-img{
 
  background-color: rgba(255, 66, 165, 0.09);
  height: 300px;

}


.btn-link-img{
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  margin-top: 70px;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow:0px 4px 15px rgba(0, 0, 0, 0.05);
}


.btn-link-img:hover {
  border: 2px solid #F948B2;
  /* background: #F948B2; */
}

.btn-link-img:hover a{
color: #F948B2;
}


.btn-link-img a{
  text-decoration: none;
  font-weight: 500;
}

.btn-link-img img{
  width: 45px;
}


.all-buttons-link{
  max-width: 1200px;
  margin:0 auto;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;

}














@media screen and (max-width:576px) {

body{
  margin: 0;
  padding: 0;
}


  .nav-bar{
    flex-direction: column;
    height: 80px;
  }


  .nav-logo{
    padding: 0px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -35px;
   
  }
  
  .nav-items{
    padding: 0px 20px;
    flex-direction: column;
    gap: 10px;
  margin-top: -15px;
    
    }

    /* menu 1 responsive styles */

    .menu1-both-side-contents{
      flex-direction: column-reverse;
      gap: 20px;
      padding: 0 20px;
      margin-top: 150px;
    }

    .main1-left-content{
      padding: 0;
      bottom: 290px;
      width: 100%;
      /* left: 30px; */
      text-align: center;
    }

    .main1-left .img-bg{
      width: 100%;
      margin-top: -200px;
    }

    .main1-left{

align-items: center;
/* gap: 20px; */

}
.play{
justify-content: center;
  margin-top:-60px;
}
    .play h6{
      
      font-size: 0.9em;
}

.download{
  justify-content: center;
}

    .download h6{
      font-size: 0.9em;
}

.online{
  justify-content: center;
}

    .online h6{
      font-size: 0.9em;
}

.play img{
  width: 16px;
  height: 16px;
}


.goat{
  margin-bottom: 0;
}
.goat h1{
  
  font-size: 3.2em;
  color: #F948B2;
  }

  .play-like h2{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: -40px;
  }

  .buttons{
    justify-content: center;
    margin-top: -10px;
  }

  .btn1 button{
    padding: 10px 22px;
    background-color: #F948B2;
    border-radius: 48px;
    font-size: .8em;
    border: none;
    color: aliceblue;
    font-weight: 500;
  }
  .btn2 button{
    padding: 10px 22px;
    background-color: #F948B2;
    border-radius: 48px;
    font-size: .8em;
    border: none;
    color: aliceblue;
    font-weight: 500;
  }

  /* menu 1 right contents */
  .menu1-right-contents img{
    width: 100%;
  }

  /* menu 2 contents */

  .menu2-all-contents{
    overflow-clip-margin: content-box;
    overflow: clip;
    padding: 0 20px;
    flex-direction: column;
  }


  .menu-2-img img{
    width: 100%;
    margin-top: 300px;
  }

  .menu-2-content{
    text-align: center;
    margin-top: -50px;
  }

  .menu-2-content button{
    margin-bottom: 30px;
  }

/* menu 3 contents */
.online-games-funny-videos{
  overflow-clip-margin: content-box;
  overflow: clip;

}


.online-games-funny-videos h1{
  font-size: 2em;
}

  .online-games-funny-videos p{
    padding:27px;
    margin-top: -10px;
  }

  .menu-3-img{
    overflow-clip-margin: content-box;
    overflow: clip;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
  }

  /* menu 4 started from here */

  .menu-4-all-contents{
    overflow-clip-margin: content-box;
    overflow: clip;
    flex-direction: column;
    gap:0;
    padding:0 20px;
  }

  .menu4-contents{
    margin-top: -30px;
    margin-bottom: 30px;
    text-align: center;
   }

   .menu4-contents h1{
    margin-left: 0;
    margin-bottom: 0;
    font-size: 2em;
    /* display: none; */
   }

   .menu4-contents p{
    /* display: none; */
    margin-left: 0;
    font-size: .8em;
   }

   .menu4-images{
    overflow-clip-margin: content-box;
    overflow: clip;
    /* display: none; */
    margin-left: 50px;
    margin-right: 0;
   }
   .menu4-images .img1{
    width: 90%;
    margin: 0;
   }

.relative-image img{
  width: 50%;
margin: 0;
}
.relative-image{
  right: 40px;
  bottom: 150px;
 
}



/* menu 5 started from here */

.menu-5-all-contents{
    overflow-clip-margin: content-box;
    overflow: clip;
  /* display: none; */
    flex-direction: column-reverse;
    gap:0;
    padding: 0 20px;
  }

  .menu5-contents{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
   }

   .menu5-contents h1{
    margin-left: 0;
    margin-bottom: 0;
    font-size: 2em;
   }

   .menu5-contents p{
    margin-left: 0;
    font-size: .8em;
    /* padding:0 40px; */
   }

   .menu5-images{
    /* overflow-clip-margin: content-box;
    overflow: clip; */
    
    margin-left:30px;
  
    
   }
   .menu5-images .img1{
    width: 80%;
    margin: 0;
    /* padding: 0; */
   }

.relative-image2 img{
  width: 40%;
margin: 0;
/* padding: 0; */
}
.relative-image2{
  /* display: none; */
  left: 170px;
  bottom:120px;
  right: 0;

 
}

.menu-6-all-contents{
  padding: 0 20px;
  flex-direction: column;
}

.menu6-right-side img{
  margin-top: 30px;
  width: 100%;
  /* left: 0; */
  position:;
  left: 20px;

}

.l1 li{
  font-size: .8em;
}
.l2 li{
  font-size: .8em;
}


.btn-link-img a{
  text-decoration: none;
  font-weight: 500;
  font-size: 0.7em;
}

.btn-link-img img{
  width: 25px;
}

.btn-link-img{
  margin-top: 20px;
  padding: 3px 2px;
  width: 120px;
}


.all-buttons-link{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 5px;
  padding: 10px;
}








}